
@model List<Student>

	<table>
		<thead>
			<tr>
				<td> Id </td>
				<td> Name  </td>
				<td> Gender </td>
				<td> Age </td>
				<td> Action </td>
				<td> Action </td>
			</tr>
		</thead>

		<tbody>

		@foreach(var students in Model)
		{
			<tr>
				<td>@students.Id</td>
				<td>@students.Name</td>
				<td>@students.Gender</td>
				<td>@students.Age</td>
				<td><a href="#"> Edit </a></td>
				<td><a href="#"> Delete </a></td>
			</tr>
		}


		</tbody>
	</table>
	<input type="submit" value="Create" />